.cart-select{
    /* width: 10%;
    height: 30px; */
    border: 1px solid;
    border-color: var(--Yellow);
    border-radius: 10px;
    /* padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px; */
    padding: 11px 5px;
}
.cart-select::after {
    padding-right: 10px;
    content: "▼";
    font-size: 1rem;
    top: 6px;
    
  }