p {
    margin: 0px;
    padding: 0px;
  }
  .cart-background-img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/productDetail/dashline.png);
    position: relative;
  }
  .main-cart {
    padding: 50px 50px;
  }
  .cart-circular-category {
    display: flex;
    margin-top: 20px;
  }
  .cart-heading-main {
    display: flex;
    justify-content: space-between;
  }
  .cart-section {
    width: 33%;
  }
  .cake-detail-section {
    width: 63%;
    max-height: 450px;
    overflow: auto;
    padding-bottom: 50px;
  }
  .cart-cake-img {
    width: 100%;
  }
  .cart-chocolate-truffle {
    text-align: left;
    font: normal normal normal 30px/78px Oswald;
    letter-spacing: 0px;
    color: #313131;
  }
  .cart-price {
    font: normal normal bold 45px/78px Oswald;
    color: #1ab963;
  }
  .cart-inclusive-text {
    color: #7a7a7a;
    font-size: 25px;
    padding-left: 10px;
    opacity: 1;
    position: relative;
    top: 20px;
  }
  .cart-input {
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--Yellow);
    padding-left: 10px;
    padding: 5px 5px;
    width: 419px;
  }
  .card-input:focus-visible{
    border-color: var(--Yellow) !important;
  }
  .cart-knife-main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
  }
  .text-knife-candle {
    margin-top: 5px;
    margin-left: 20px;
  }
  .cart-price-dollar {
    position: relative;
    /* top: -10px; */
  }
  .cart-coupon {
    border: 1px dashed;
    border-radius: 5px;
    border-color: var(--Yellow);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
  }
  .cart-price-detail {
    margin-top: 20px;
  }
  .cart-quantity-category {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .coupon-offer-img {
    position: relative;
    top: -41px;
    padding-left: 30px;
  }
  .cart-coupon::placeholder {
    padding-left: 10px;
  }
  .cart-input::placeholder {
    padding-left: 20px;
  }
  .price-bottom-div {
    border-bottom: 3px solid var(--Black);
    width: 191px;
    margin-left: 120px;
  }
  .price-detail-div {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .cart-total {
    width: 40%;
    font-size: 25px;
    font-family: "Oswald", "Regular";
    font-weight: 400;
    color: var(--Black);
  }
  .card-middle {
    width: 10%;
    text-align: end;
  }
  .card-amount {
    width: 40%;
    text-align: end;
    font-size: 25px;
    font-family: "Source Sans Pro", "Semibold";
    font-weight: 500;
    color: var(--Black);
  }
  .delivery-address-bottom-div {
    border-bottom: 3px solid var(--Black);
    width: 191px;
    margin-left: 170px;
  }
  .delivery-time-bottom-div {
    border-bottom: 3px solid var(--Black);
    width: 191px;
    margin-left: 150px;
  }
  .make-payment-div {
    margin-top: 45px;
  }
  /*................... Mobile view css........................ */
  .card-main-mobile {
    padding: 35px 15px;
    display: none;
  }
  .card-top-view-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .chocolate-truffle-heading-mobile {
    font-size: 20pt;
    font-family: "Source Sans Pro", "Regular";
    font-weight: 400;
    color: var(--Black);
  }
  .card-amount-mobile {
    font-size: 25pt;
    color: var(--Yellow);
    font-family: "Source Sans Pro", "Bold";
    font-weight: bold;
    text-align: center;
  }
  .product-cake-main-mobile {
    display: flex;
  }
  .product-cake-mobile {
    width: 30%;
  }
  .product-cake-right-content-mobile {
    width: 70%;
    margin-left: 15px;
  }
  .product-cake {
    width: 100%;
  }
  .product-cake-counter {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .cake-msg-mobile {
    font-size: 18pt;
    font-family: "Source Sans Pro", "Semibold";
    font-weight: 600;
  }
  .happy-birthday {
    font-size: 16pt;
    font-family: "Source Sans Pro", "Regular";
    font-weight: 400;
  }
  .cart-bottom-div {
    border-bottom: 3px solid var(--Black);
    width: 191px;
    margin-left: 40px;
  }
  .cart-bottom-content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .cart-left-container {
    width: 33%;
  }
  .cart-right-container {
    width: 63%;
  }
  .apply-coupan-container {
    box-shadow: 0px 0px 6px #0000006b;
    border-radius: 10px;
    background-color: var(--White);
    width: 99%;
    margin: auto;
  }
  .apply-coupan-input {
    width: 100%;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Yellow);
  }
  .offer-discount{
    display: flex;
    align-items: center;
  }
  .offer-discount-text{
    font-size: 25px;
    font-family: "Source Sans Pro", "Regular";
    font-weight: 400;
    color: var(--Black);
  }
   .checkbox-div .form-check-input{
    border-radius: 50% !important;
  }
  /* ...............media query css ...................*/
  @media screen and (max-width: 600px) {
    .main-cart {
      padding: 35px 15px;
      display: none;
    }
    .cart-circular-category {
      display: none;
    }
    .card-main-mobile {
      display: block;
    }
  }
  