.location-background-img {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/locationimages/Group\ 14886.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow-y: hidden;
  /* padding: 176px 0px; */
}

.map {
  display: none;
  /* height: 40em; */
  height: 100vh;
  width: 100%;
  background-color: bisque;
}
.card_border_color {
  border-color: #ff5400;
}
.bg {
  background-color: #ff5400;
}
.text_color {
  color: #ff5400;
}
.bg:hover {
  background-color: #ff5400;
}
.flex_style {
  flex-direction: row;
}
.text_on_line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ff5400;
  line-height: 0.1em;
  margin: 20px 0 30px;
}
.text_on_line_span {
  background-color: #fff;
  padding: 0 10px;
  color: #ff5400;
}
.increase {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 5px 10px;
  color: #ff5400;
  font-weight: bolder;
}
.cart-toggle {
  position: absolute;
  bottom: 0.5em;
  right: 2em;
  padding: 1em 1.4em;
  text-decoration: none;
  border-radius: 100%;
  background-color: #ff5400;
  color: white;
}
.locate {
  position: absolute;
  right: 0em;
  z-index: 30;
}
.onMap {
  position: relative;
  left: 0;
  z-index: 20;
  margin: 0 3em 0 0;
}
.on-map-container {
  margin: 0.4em;
}
.btn-address {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.locate-me-btn {
  color: var(--Black);
  padding: 10px 15px;
  width: fit-content;
  background: var(--Yellow) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-family: "Oswald", "Medium";
  box-shadow: 2px 2px var(--Black);
  margin-left: 5px;
  text-align: center;
  margin-top: 20px;
  /* margin: auto; */
}

.input-group1 {
  display: flex;
  margin-left: 35px;
  flex-wrap: wrap;
  align-items: center;
  width: 83%;
  border-radius: 8px;
  border: 1px solid var(--Yellow);
}
/* CSS wrote for the new search box */
.location-box {
  /* width: 35%; */
  width: 100%;
  background-color: var(--White);
  position: absolute;
  /* top: 28px; */
  /* margin-left: 31px; */
  border-radius: 5px;
  min-width: 300px;
  max-width: 600px;
}
.confirm-delivery-text {
  font-size: 25px;
  margin-bottom: 16px;
  color: var(--Darkgrey);
  margin-left: 35px;
  font-family: "Oswald", "Bold";
  font-weight: bold;
}
.back-text {
  padding: 15px 35px 10px 35px;
  font-size: 15px;
  color: var(--Darkgrey);
  font-family: "Oswald", "Bold";
  font-weight: 500;
}
.back-text:hover {
  cursor: pointer;
}
/* Use my current location css */
.gps-img {
  height: 17px;
  width: 17px;
  display: flex;
  margin-top: 3px;
}
a.use-my-current-location {
  padding-left: 8px;
  font-size: 16px;
  color: var(--Darkgrey);
}
.use-my-location-logo-text {
  display: flex;
  margin-bottom: 10px;
  margin-left: 14px;
  font-size: 13px;
}
.use-my-location-logo-text:hover {
  cursor: pointer;
}
/* CSS for map search input field */
.search-box {
  background-color: var(--White);
  border: none;
}
.search-icon {
  width: 15px;
  height: 15px;
}
.search-placeholder {
  border-radius: 5px;
  opacity: 1;
  padding: 8px 15px;
  width: 100%;
}
.search-placeholder:hover {
  cursor: pointer;
}
/* mobile view */
@media screen and (max-width: 600px) {
  .location-background-img {
    background-image: url("../../assets/images/locationimages/Mask Group 147.png");
    align-items: start;
    padding-top: 20px;
  }
  .location-box {
    width: 98%;
    margin: 0px;
  }
  .use-my-current-location {
    margin: 2px;
  }
  .locate-me-btn {
    text-align: center;
    margin: auto;
  }
}
