.container-product-detail-screen {
  width: 100%;
}
.circular-product-detail {
  display: flex;
  margin-top: 20px;
}
.product-screen-card {
  width: 100%;
  padding: 70px 0px 50px 50px;
  
}
.product-detail-screen-heading {
  padding-left: 50px;
  margin-top: 55px;
}
.related-bottom-div {
  border-bottom: 3px solid var(--Black);
  width: 191px;
  margin-left: 76px;
  position: relative;
  top: 39px;
}
.product-card-div-section{
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}
.product-cart-container{
  margin-right: 25px;
}

/* mobile view css */
@media screen and (max-width: 600px) {
  .product-card-div-section{
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto; */
  }
/* .product-cart-container{
  display: flex;
  justify-content: center;
  margin-right: 0;
  padding: 2px;
} */
.product-screen-card {
  padding: 10px;
}
.related-bottom-div {
  width: 115px;
  top: 26px;
  padding: 0px 10px;
}
.product-detail-screen-heading {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
/* .cat-heading-container{
  margin-bottom: 50px !important;
} */
}